$font: Arial, Helvetica, sans-serif;
$font-regular: 15px;
$font-small: 13px;
$primary-color: #585858;
$accent-color: #AA1535;
$secondary-color: #7F8C8D;
$margin-reset: 0;
$m-bottom: 15px;
$m-top: 40px;
$tablet-breakpoint: 1023px;
$mobile-breakpoint: 767px;