/* --- 5. Footer --- */
.main-footer {
    background-color: #E5DED4;
    padding: 25px 0;
    margin-top: $m-top;
    text-align: center;
    clear: both;
}

.main-footer p {
    color: $accent-color;
    font-size: $font-small;
    margin: $margin-reset;
}

span{
    color: $secondary-color ;
}