@media only screen and (max-width: $tablet-breakpoint) {
    .card{
        width: 95%;
    }

    .card-text p {
        float: initial;
    }

    .img-product1 {
        width: 25%;
        float: right;
    }

    .img-product2 {
        width: 25%;
        float: right;
    }

}